/* FOR ALERT TO GIVE MARGIN 0 AS IT WAS LEAVING SOME SPACE BETWEEN THE SLIDESHOW  */
.alert {
    margin-bottom: 0 !important;
}
/* FOR THE FOOTER  */
.pb-5, .py-5 {
    padding-bottom: 3rem!important;
    color: #0d00ff !important;
    background-color: #fafeff !important;
}